body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D1A469; 
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


nav {
  background-color: #444; 
  padding: 1rem;
  position: fixed;  /* Fix the navbar at the top */
  top: 0;
  width: 100%;
  z-index: 1000;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1rem; 
  transition: color 0.3s ease;
}

nav ul li button:hover {
  color: #FFD700; 
}

/* Content Area */
.content {
  flex: 1;
  padding: 80px 20px 20px; 
  text-align: center;
}

/* Course List Styling */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #8B5B29; 
  color: #f0f0f0;
  margin: 10px auto;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 400px;
  transition: background-color 0.3s ease, transform 0.2s; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

ul li:hover {
  background-color: #cb7e19; 
  transform: translateY(-2px); 
}

h2 {
  margin-bottom: 10px;
}


button {
  background-color: #A78354; 
  color: white;
  border: none;
  padding: 12px 20px; 
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s; 
}

button:hover {
  background-color: #8B6B43; 
  transform: translateY(-2px); 
}

button:focus {
  outline: none;
}


div {
  margin-top: 20px;
}


.score {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}


.footer {
  background-color: #444; 
  color: white;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); 
}

.footer span {
  font-size: 0.9rem;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #555; 
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #8B5B29; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 600px; 
  margin: 20px auto; 
}

.team-title {
  font-size: 2rem; 
  color: #F5F5DC; 
  margin-bottom: 20px; 
}

.team-member {
  background-color: #8B6B43; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  padding: 15px; 
  margin: 10px 0; 
  width: 100%;
  transition: transform 0.2s; 
}

.team-member:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.team-member h3 {
  margin: 0; 
  color: #f0f0f0; 
}
